.App {
  text-align: center;
  background-color: wheat;
  /*  */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cards1 {
  background-color: wheat;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-sm-2{
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -35em;
  margin-left: -2em;
}
.daycard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:wheat;
  background-clip: border-box;
 
  border-radius: .25rem;
}
